<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This is the Contact Us page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.<br />
  Where you should be able to find ways to reach us.
</p>